# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# IDEs and other tools
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build artifacts
build/
dist/

# APIver specific
.APIver/
meta.json
coverage/